.frame {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .group-3{
    width: 250px;
    margin-top: 235px;
  }
  
  .frame .div {
    background-image: url(./img/rectangle-9.png);
    background-size: 100% 100%;
    width: 300px;
    height: 275px;
    position: relative;
  }
  
  .frame .overlap {
    position: absolute;
    width: 300px;
    height: 72px;
    top: 0;
    left: 0;
    background-image: url(./img/712c65cad297019b7162803c4168ac4c-1.png);
    background-size: 100% 100%;
  }
  
  .frame .text-wrapper {
    position: absolute;
    height: 27px;
    top: 22px;
    left: 73px;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .icon-arrow-back {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 26px;
    left: 18px;
  }
  
  .frame .overlap-group {
    position: absolute;
    width: 247px;
    height: 46px;
    top: 83px;
    left: 28px;
  }
  
  .frame .group {
    top: 0;
    left: 0;
    position: absolute;
    width: 247px;
    height: 46px;
  }
  
  .frame .text-wrapper-2 {
    position: absolute;
    height: 16px;
    top: 0;
    left: 3px;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .div-wrapper {
    position: absolute;
    width: 245px;
    height: 28px;
    top: 19px;
    left: -1px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
    border-color: #d9d9d9;
  }
  
  .frame .text-wrapper-3 {
    top: 6px;
    left: 22px;
    position: absolute;
    height: 14px;
    font-family: "Nunito Sans-Light", Helvetica;
    font-weight: 300;
    color: #7c7c7c;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .SWM-icons-outline {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 23px;
    left: 217px;
  }
  
  .frame .group-2 {
    top: 145px;
    left: 28px;
    position: absolute;
    width: 247px;
    height: 46px;
  }
  
  .frame .text-wrapper-4 {
    position: absolute;
    height: 16px;
    top: 0;
    left: 0;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .overlap-2 {
    position: absolute;
    width: 243px;
    height: 26px;
    top: 20px;
    left: 0;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
    border-color: #d9d9d9;
  }
  
  .frame .img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 216px;
  }
  
  .frame .text-wrapper-5 {
    top: 5px;
    left: 11px;
    position: absolute;
    height: 14px;
    font-family: "Nunito Sans-Light", Helvetica;
    font-weight: 300;
    color: #7c7c7c;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .btn-scan {
    position: absolute;
    width: 245px;
    height: 30px;
    top: 224px;
    left: 28px;
  }
  
  .frame .overlap-3 {
    position: relative;
    width: 243px;
    height: 30px;
    background-image: url(./img/712c65cad297019b7162803c4168ac4c-2.png);
    background-size: 100% 100%;
  }
  
  .frame .text-wrapper-6 {
    position: absolute;
    height: 18px;
    top: 6px;
    left: 103px;
    font-family: "Nunito Sans-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  