.main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  .main-container {
    position: relative;
    width: 300px;
    height: 275px;
    margin: 0 auto;
  }
  .wrapper {
    position: absolute;
    width: 300px;
    height: 275px;
    top: 0;
    left: 50%;
    background: rgb(255, 255, 255);
    transform: translate(-50%, 0);
    border-radius: 10px;
  }
  .wrapper-2 {
    position: absolute;
    width: 243px;
    height: 231px;
    top: 23px;
    left: 28px;
    font-size: 0px;
    z-index: 17;
  }
  .text {
    display: inline-block;
    position: relative;
    height: 27px;
    margin: 0 0 0 32px;
    font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    z-index: 2;
  }
  .text-2 {
    display: inline-block;
    position: relative;
    height: 16px;
    margin: 33px 0 0 0;
    font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    z-index: 4;
  }
 

  .text-3 {
    position: absolute;
    height: 14px;
    top: 6px;
    left: 10px;
    font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: rgb(124, 124, 124);
    font-size: 10px;
    font-weight: 300;
    line-height: 13.64px;
    text-align: center;
    z-index: 6;
  }
  .img {
    position: absolute;
    width: 9.833px;
    height: 5.664px;
    top: 10.579px;
    left: 222.083px;
    background: url(./assets/images/79d38da6-42b7-405f-9dff-195699ae9cef.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 14;
  }
  .text-4 {
    display: inline-block;
    position: relative;
    height: 16px;
    margin: 16px 0 0 0;
    font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    z-index: 8;
  }
  
  .text-5 {
    position: absolute;
    height: 14px;
    top: 6px;
    left: 10px;
    font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: rgb(124, 124, 124);
    font-size: 10px;
    font-weight: 300;
    line-height: 13.64px;
    text-align: center;
    z-index: 12;
  }
  .img-2 {
    position: absolute;
    width: 9.833px;
    height: 5.664px;
    top: 10.579px;
    left: 222.083px;
    background: url(./assets/images/c9a1a8fb-54b4-4fc4-b41c-bfe2f668c53f.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 11;
  }
  .img-3 {
    position: relative;
    width: 243px;
    height: 30px;
    margin: 33px 0 0 0;
    background: url(/assets/images/miniheader.png)
      no-repeat center;
    background-size: cover;
    z-index: 17;
    border-radius: 5px;
  }
  .text-6 {
    position: absolute;
    height: 18px;
    top: 6px;
    left: 103px;
    font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 800;
    line-height: 17.732px;
    text-align: center;
    z-index: 18;
  }
  .img-4 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 26px;
    left: 18px;
    background: url(./assets/images/43adb445-bb95-4ceb-a0b5-eb88b097ad46.png)
      no-repeat center;
    background-size: cover;
    z-index: 15;
  }
  .img-5 {
    position: absolute;
    width: 300px;
    height: 72px;
    top: 0;
    left: 0;
    background: url(../assets/images/miniheader.png)
      no-repeat center;
    background-size: cover;
    z-index: 1;
    border-radius: 10px;
  }
  